<div class="container">

  <form class="form" [formGroup]="userForm" (submit)="onSubmit()">
    <div fxLayout="row">
      <mat-form-field fxFlex="50%">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field fxFlex="50%">
        <input matInput placeholder="Surname" formControlName="surname">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="20%">
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="option">Male</mat-option>
          <mat-option value="option">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="20%">
        <input matInput [matDatepicker]="picker" placeholder="Birth date" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="60%">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>

    <div class="btn-box" fxLayoutAlign="end start">
      <button fxFlex="10%" mat-raised-button color="primary" [routerLink]="['/user']">Back</button>
      <button [disabled]="userForm.invalid" fxFlex="10%" type="submit" mat-raised-button color="primary">Save</button>
    </div>
  </form>

</div>
