.container {
  margin: 8rem auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form {
    .mat-form-field {
      margin: 0.5rem;
    }
    .btn-box {
      margin-top: 2rem;
      button {
        margin: 0.5rem;
      }
    }
  }
}
