.container {
  margin: 10rem auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .button-box {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    .mat-icon {
      margin: 0.5rem;
    }
  }
}
