.container {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-box {
    margin: 2rem;
    h1 {
      text-align: center;
      font-size: 2.5em;
      font-weight: bold;
    }
  }
  .btn-box {
    margin-top: 3rem;
  }
}
