.main-container {
  margin: 3rem auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    button {
      min-width: 8rem;
      margin: 0.5rem;
    }
  }
}
