<div class="container">

  <div class="input-box">
    <mat-form-field>
      <input matInput placeholder="Add a note">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      <mat-icon aria-label="add">add</mat-icon>
    </button>
  </div>

  <div class="list-box">
    <div class="list-item" *ngFor="let note of notes$ | async">
      <span>{{note.description}}</span>
      <button mat-raised-button color="warn" (click)="onSubmit()">
        <mat-icon aria-label="remove">remove</mat-icon>
      </button>
    </div>
  </div>
  <button mat-raised-button color="primary" [routerLink]="['/home']">Back to Home</button>
</div>
